div#container
{
   width: 1250px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #191919;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader1
{
   background-color: #0F0F0F;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#PageFooter1
{
   background-color: #0A0A0A;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
